body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-weight: 400;
}

.bar {
	position: relative;
	max-height: 100px;
	display: block;
	box-sizing: border-box;
	background-color: #3c8dbc;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: 300;
	overflow: hidden;
	height: 50px;
	font-size: 20px;
	line-height: 50px;
}

.bar .logo {
	background-color: #367fa9;
	color: #fff;
	border-bottom: 0 solid transparent;
	text-align: center;
	width: 230px;
	padding: 0 15px;
}

.message {
	font-family: 'Source Sans Pro',sans-serif;
	font-size: 18px;
	padding: 15px;
}

.bar .footer {
	color: #fff;
	padding: 0 15px;
}

.bar .footer a {
	color: #fff;
	text-decoration: none;
	font-weight: 400;
}
