<html>
<head>
	<title>Pi-hole Control Panel</title>
	<link rel="stylesheet" href='/static/style.css' />
</head>
<body>
	<div class="bar">
		<div class="logo">
			Pi-<strong>hole</strong>*
		</div>
	</div>
	<div class="message">
		{{ message }}
	</div>
	<div class="bar">
		<div class="footer">
			<a href="/enable">Enable</a> |
			<a href="/disable">Disable</a> |
			<a href="http://pi.hole/admin">Dashboard</a>
		</div>
	</div>
</body>
</html>
